@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
    background-color: rgb(204, 181, 151, 0.5);
    font-family: 'Syne Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    justify-items: center;
    text-align: center;
}

.title {
    margin: 0;
}

.subtitle {
    display: inline-block;
    margin: 5px 0 20px;
    opacity: 0.8;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 30px 20px;
    justify-items: center;
    text-align: center;
}

.header input {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 50px;
    color:#fff;
    font-size: 14px;
    padding: 10px 15px;
    width: 100%;
}

.header input:focus {
    outline: none;
}

.user-list {
    background-color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
}

.user-list li {
    display: flex;
    padding: 20px;
}

.user-list img {
    border-radius: 50%;
    object-fit: cover;
    height: 50px;
    width: 50px;
}

.user-list .user-info {
    margin-left: 10px;
    cursor: pointer;
}

.user-list .user-info h4 {
    margin: 0 0 10px;
}

.user-list .user-info p {
    font-size: 11px;
}
/*  any list item that is not the last, add a border bottom  */
.user-list li:not(:last-of-type) {
    border-bottom: 1px solid #333;
}
.user-list li.hide {
    display: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }